
.siralakismi{
    position: absolute;
    display: flex;
    margin-left: 80%;
    top: 19px;
    z-index: 999;
}
.siralakismi select {
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.siralakismi label {
    margin-right: 2px;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
.siralakismi select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.dikdortgen {
    width: 200px; 
    height: 540px;
    border: 4px solid; 
  
     background-color: white;
    margin-top: 70px;
    
 
    border-radius: 10px; 
    overflow-y: auto; 
    padding: 10px;
 
    text-align: center; 
    font-family: Arial, sans-serif
}

.dikdortgen::-webkit-scrollbar {
    width: 5px; /* Set your desired width here */
}

.dikdortgen::-webkit-scrollbar-thumb {
    background-color: #888888; /* Adjust scrollbar thumb color */
}

.dikdortgen::-webkit-scrollbar-track {
    background-color: #e9e6e6; /* Adjust scrollbar track color */
}


.dikdortgen:nth-child(1) {
    border-color: #f87538;
}
.dikdortgen:nth-child(2) {
    border-color: #1ea0c8;
}
.dikdortgen:nth-child(3) {
    border-color: #0930a3; 
}
.dikdortgen:nth-child(4) {
    border-color: #e80707; 
}
.dikdortgen:nth-child(5) {
    border-color: #F4D03F; 
}

.bilesen {
  
    display: flex;
 
    justify-content: space-between;
    flex-wrap: wrap;
}


.urun-kapsul {
   
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.dikdortgen:nth-child(1) .urun-kapsul {
    border: 2px solid   #ea7114; 
}

.dikdortgen:nth-child(2) .urun-kapsul {
    border: 2px solid #57b2f7; 
}

.dikdortgen:nth-child(3) .urun-kapsul {
    border: 2px solid #1212b5;
}

.dikdortgen:nth-child(4) .urun-kapsul {
    border: 2px solid #e81212; 
}

.dikdortgen:nth-child(5) .urun-kapsul {
    border: 2px solid #020279; 
}   



.urun-ad {
    font-weight: bold;
    margin-bottom: 5px;
}

.urun-resim {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.fiyatlar {
    display: flex;
    justify-content: space-between;
}

.eski-fiyat {
    text-decoration: line-through;
    color: #888;
    font-size: 17px;
    margin-left: 13px;
}

.yeni-fiyat {
    font-weight: bold;
    color: #333;
    font-size: 26px;
    margin-right: 15px;
}

.logolarrr{
    position: relative;
   
}

.logomigros{
    margin-top: 10px;
    position: absolute;
    left: 12px;
    width: 215px; 
    
    height: auto;
}
.logoa101{
    margin-top: 11px;
    position: absolute;
    left: 30.5%; 
    width: 145px; 
    height: auto;
}
.logocarrefour{
    margin-top: 20px;
    position: absolute;
    left: 56%; 
    width: 220px;
    height: auto;
   
    
    
}
.logobim{
    margin-top: 5px;
    position: absolute;
    right: 25%;
    width: 117px; 
    height: auto;
}
.logosok{
    position: absolute;
    right: 5%;
    width: 100px; 
    height: auto;
} 

.generalmainpage{
    width: 92%; 
   

    position: relative;
    top: 16px;

    left: 7%;
   

 
    border-radius: 10px; 
}




input[type="text"] {
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px; 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.search-container input[type="text"]::placeholder {
    color: #aaa;
} 

.search-btn {
    padding: 0; 
    background: none; 
    border: none;
    cursor: pointer;
}

.search-btn img {
    width: 30px; 
    height: auto;
}

button[type="submit"]:hover {
    opacity: 0.7; 
}

.search-container{
    position: relative;
    display: flex;
    
    justify-content: center; 
    z-index: 10;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
.logo{
    height: 64px;
    margin-left: 25px;
    position: absolute;
    z-index: 999;
}