.dikdortgen {
    width: 200px; /* Boyutlarınızı ayarlayın */
    height: 560px; /* Sabit yükseklik */
    border: 4px solid; /* Çerçeve */
    /* margin-bottom: 10px; */
     /* Dikey aralık */
     
    margin-top: 70px;
    
    /* margin-right: 10px; */   
     /* Sağ boşluk */
    border-radius: 10px; /* Köşe yuvarlaklığı */
    overflow-y: auto; /* Dikey scroll çubuğunu etkinleştir */
    padding: 10px;
     /* İç dolgu ekle */
    text-align: center; /* Yazıları ortala */
    font-family: Arial, sans-serif
}
.dikdortgen::-webkit-scrollbar {
    width: 5px; /* Set your desired width here */
}

.dikdortgen::-webkit-scrollbar-thumb {
    background-color: #888888; /* Adjust scrollbar thumb color */
}

.dikdortgen::-webkit-scrollbar-track {
    background-color: #e9e6e6; /* Adjust scrollbar track color */
}

/* Her bir dikdörtgenin çerçeve rengini farklı yapmak için örnek renkler */
.dikdortgen:nth-child(1) {
    border-color: #FF5733; /* Turuncu */
}
.dikdortgen:nth-child(2) {
    border-color: #57b2f7; /* Mor */
}
.dikdortgen:nth-child(3) {
    border-color: #0930a3; /* Mavi */
}
.dikdortgen:nth-child(4) {
    border-color: #e80707; /* Yeşil */
}
.dikdortgen:nth-child(5) {
    border-color: #F4D03F; /* Sarı */
}

.bilesen {
  
    display: flex;
     /* Flexbox'u etkinleştir */
    justify-content: space-between; /* Öğeler arasında eşit boşluk bırak */
    flex-wrap: wrap; /* Yeterli alan olmadığında öğeleri sarma */
}


.urun-kapsul {
   
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.dikdortgen:nth-child(1) .urun-kapsul {
    border: 2px solid #ea7114; /* Kırmızı */
}

.dikdortgen:nth-child(2) .urun-kapsul {
    border: 2px solid #57b2f7; /* Yeşil */
}

.dikdortgen:nth-child(3) .urun-kapsul {
    border: 2px solid #1212b5; /* Mavi */
}

.dikdortgen:nth-child(4) .urun-kapsul {
    border: 2px solid #e81212; /* Sarı */
}

.dikdortgen:nth-child(5) .urun-kapsul {
    border: 2px solid #020279; /* Mor */
}   



.urun-ad {
    font-weight: bold;
    margin-bottom: 5px;
}

.urun-resim {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.fiyatlar {
    display: flex;
    justify-content: space-between;
}

.eski-fiyat {
    text-decoration: line-through;
    color: #888;
    font-size: 17px;
    margin-left: 13px;
}

.yeni-fiyat {
    font-weight: bold;
    color: #333;
    font-size: 26px;
    margin-right: 15px;
}

.logolarrr{
    position: relative;
   
}

.logomigros{
    margin-top: 10px;
    position: absolute;
    left: 12px;
    width: 215px; /* Genişlik */
    
    height: auto; /* Otomatik yükseklik ayarlaması */
}
.logoa101{
    margin-top: 11px;
    position: absolute;
    left: 23.5%; /* Özel pozisyon değeri */
    width: 145px; /* Genişlik */
    height: auto;
}
.logocarrefour{
    margin-top: 20px;
    position: absolute;
    left: 42%; 
    width: 220px; /* Genişlik */
    height: auto;
   
    
    
}
.logobim{
    margin-top: 5px;
    position: absolute;
    right: 25%;
    width: 117px; /* Genişlik */
    height: auto;
}
.logosok{
    position: absolute;
    right: 5%;
    width: 100px; /* Genişlik */
    height: auto;
} 

.generalmainpage{
    width: 92%; 
   

    position: relative;
    top: 47.1px;

    left: 7%;
   

 
    border-radius: 10px; 
}